<div class="container-fluid">
  <div class="page-header">
    <h1>{{titulo}}</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group" *ngIf="remesas.length > 0">
        <label class="label label-primary" for="remesa">Remesa:</label>
        <select  class="form-control" name="remesa" (change)="muestraRemesa($event)">
          <option value="-1">Selecciona una opción</option>
          <option *ngFor="let remesa of remesas" value="{{remesa.remesa}}">{{remesa.concepto}}</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="nombres.length > 0">
    <div class="col-lg-2">
        <button class="btn btn-primary btn-block" type="button" name="exportar" (click)="exportaRemesaCsv()">Exportar a CSV</button>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-default btn-block" type="button" name="sepa" (click)="almacenaSms()">Envia SMS</button>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-success btn-block" type="button" name="sepa" (click)="generaSepa()">Genera SEPA</button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
      <h3 class=" noMargin"><span class="label label-primary">Horas: {{totalHoras}}</span></h3>
    </div>
    <div class="col-lg-3">
      <h3 class=" noMargin"><span class="label label-primary">Cantidad: {{totalEuros}} €</span></h3>
    </div>
  </div>
  <div *ngIf="nombres.length > 0" class="table-responsive">
    <table  class="table table-striped table-bordered">
      <tr>
        <th>NÚMERO</th>
        <th>NOMBRE</th>
        <th>HORAS</th>
        <th>CANTIDAD</th>
      </tr>
      <tr *ngFor="let nombre of nombres; let i = index ">
        <td>{{nombre.numero}}</td>
        <td>{{nombre.nombre}}</td>
        <td>{{nombre.horas}}</td>
        <td>{{nombre.horas*pHora}}</td>
      </tr>
    </table>
  </div>
</div>
