<!-- <div class="navigation col-lg-2">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">{{title}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/peticiones']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-home"></span>Peticiones</a></li>
        <li><a><span class="glyphicon glyphicon-star"></span>Animales</a></li>
        <li><a><span class="glyphicon glyphicon-gift"></span>Tienda</a></li>
        <li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-comment"></span>Contacto</a></li>
        <li><a><span class="glyphicon glyphicon-user"></span>Cuidadores</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li><a [routerLink]="['/register']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-user"></span>Registro</a></li>
        <li><a [routerLink]="['/login']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-log-in" ></span>Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Usuario <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a><span class="glyphicon glyphicon-cog"></span>Perfil</a></li>
            <li><a><span class="glyphicon glyphicon-log-out"></span>Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div> -->
<div class=".container-fixed">
  <div class="col-lg-2">
    <h1>COMUNIDAD</h1>
    <div class="row">
      <nav class="nav-sidebar ">
        <ul class="nav nav-pills nav-stacked">
          <li [routerLink]="['/socios']" [routerLinkActive]="['active']"><a ><span class="glyphicon glyphicon-user"></span>Socios</a></li>
          <li [routerLink]="['/peticiones']" [routerLinkActive]="['active']"><a ><span class="glyphicon glyphicon-hourglass"></span>Peticiones</a></li>
          <li [routerLink]="['/recibos']" [routerLinkActive]="['active']"><a><span class="glyphicon glyphicon-euro"></span>Recibos</a></li>
          <!-- <li><a><span class="glyphicon glyphicon-gift"></span>Tienda</a></li> -->
          <!-- <li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-comment"></span>Contacto</a></li> -->
          <!-- <li><a><span class="glyphicon glyphicon-user"></span>Cuidadores</a></li> -->
          <li class="nav-divider"></li>
          <li [routerLink]="['/register']" [routerLinkActive]="['active']"><a ><span class="glyphicon glyphicon-user"></span>Registro</a></li>
          <li [routerLink]="['/login']" [routerLinkActive]="['active']"><a ><span class="glyphicon glyphicon-log-in" ></span>Login</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="col-lg-10">
  <router-outlet></router-outlet>
</div>
