<div class="page-container">
  <!-- top navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand">C.R Completar</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav">
          <li [routerLink]="['/socios']" [routerLinkActive]="['active']"><a><span class="glyphicon glyphicon-user"></span>Socios</a></li>
          <li [routerLink]="['/peticiones']" [routerLinkActive]="['active']"><a><span class="glyphicon glyphicon-hourglass"></span>Peticiones</a></li>
          <li [routerLink]="['/remesas']" [routerLinkActive]="['active']"><a><span class="glyphicon glyphicon-list"></span>Remesas</a></li>
          <li [routerLink]="['/recibos']" [routerLinkActive]="['active']"><a><span class="glyphicon glyphicon-euro"></span>Recibos</a></li>
          <li [routerLink]="['/ficheros']" [routerLinkActive]="['active']"><a><span class="glyphicon glyphicon-file"></span>Ficheros</a></li>
          <li [routerLink]="['/sms']" [routerLinkActive]="['active']"><a><span class="glyphicon glyphicon-phone"></span>SMS</a></li>
          <li class="nav-divider"></li>
          <!-- <li [routerLink]="['/register']" [routerLinkActive]="['active']"><a><span class="glyphicon glyphicon-user"></span>Registro</a></li> -->
          <li [routerLink]="['/login']" [routerLinkActive]="['active']"><a><span class="glyphicon glyphicon-log-in" ></span>Login</a></li>
          <li class="nav-divider"></li>
          <li (click)="status()"><a><span class="glyphicon glyphicon-user"></span>Status</a></li>
          <li (click)="signout()"><a><span class="glyphicon glyphicon-log-in" ></span>SignOut</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
