<div class="container-fluid">
  <div class="page-header">
    <h1>{{titulo}} {{num}}</h1>
  </div>
  <form #formSocioEdit="ngForm" (submit)="onSubmit()">
    <div class="row">
      <!-- Primera fila de datos -->
      <div class="col-lg-4">
        <div class="form-group" [class.has-primary]="!nombre.touched" [class.has-success]="nombre.valid && nombre.touched" [class.has-error]="nombre.invalid && (nombre.dirty || nombre.touched)">
          <label class="label label-primary" for="nombre">Nombre:</label>
          <input class="form-control" name="nombre" id="nombre" type="text" #nombre="ngModel" [(ngModel)]="socio.nombre" pattern="[\w\s.,]{3,}" required [disabled]="!bloqueo" >
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="control-label has-error">
            Dato obligatorio. Longitud minima 4
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group" [class.has-primary]="!apellido1.touched" [class.has-success]="apellido1.valid && apellido1.touched" [class.has-error]="apellido1.invalid && (apellido1.dirty || apellido1.touched)">
          <label class="label label-primary" for="apellido1">1º Apellido:</label>
          <input class="form-control" name="apellido1" type="text" #apellido1="ngModel" [(ngModel)]="socio.apellido1" pattern="[\w\s.,]{2,}" required [disabled]="!bloqueo">
          <div *ngIf="apellido1.invalid && (apellido1.dirty || apellido1.touched)" class="control-label has-error">
            Dato obligatorio. Longitud minima 2
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group" [class.has-primary]="!apellido2.touched" [class.has-success]="apellido2.valid && apellido2.touched" [class.has-error]="apellido2.invalid && (apellido2.dirty || apellido2.touched)">
          <label class="label label-primary" for="apellido2">2º Apellido:</label>
          <input class="form-control" name="apellido2" type="text" #apellido2="ngModel" [(ngModel)]="socio.apellido2" pattern="[\w\s.,]{2,}" [disabled]="!bloqueo">
          <div *ngIf="apellido2.invalid && (apellido2.dirty || apellido2.touched)" class="control-label has-error">
            Longitud minima 2
          </div>
        </div>
      </div>
      <!-- segunda fila de datos -->
      <div style="clear:both">
        <div class="col-lg-1">
          <div class="form-group">
            <label class="label label-primary" for="domiciliado">Domiciliado:</label>
            <input [checked]="socio.domiciliado" [(ngModel)]="socio.domiciliado" name="domiciliado" class="form-check-input" type="checkbox" [disabled]="!bloqueo">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group" [class.has-primary]="!dni.touched" [class.has-success]="dni.valid && dni.touched" [class.has-error]="dni.invalid && (dni.dirty || dni.touched)">
            <label class="label label-primary" for="dni">DNI:</label>
            <input class="form-control" name="dni" type="text" #dni="ngModel" [(ngModel)]="socio.dni" placeholder="00000000-O" pattern="[\d]{8}[-]?[A-Za-z]" required [disabled]="!bloqueo">
            <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="control-label has-error">
              Campo obligatorio.
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="form-group" [class.has-primary]="!direccion.touched" [class.has-success]="direccion.valid && direccion.touched" [class.has-error]="direccion.invalid && (direccion.dirty || direccion.touched)">
            <label class="label label-primary" for="direccion">Dirección:</label>
            <input class="form-control" name="direccion" type="text" #direccion="ngModel" [(ngModel)]="socio.direccion" pattern=".{6,}" required [disabled]="!bloqueo">
            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="control-label has-error">
              Campo obligatorio. Longitud mínima 6
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group" [class.has-primary]="!cPostal.touched" [class.has-success]="cPostal.valid && cPostal.touched" [class.has-error]="cPostal.invalid && (cPostal.dirty || cPostal.touched)">
            <label class="label label-primary" for="cPostal">Cod. Postal:</label>
            <input class="form-control" name="cPostal" type="text" #cPostal="ngModel" (blur)="getLocalidad()" [(ngModel)]="socio.cPostal" pattern="[\d]{5}" required [disabled]="!bloqueo">
            <div *ngIf="cPostal.invalid && (cPostal.dirty || cPostal.touched)" class="control-label has-error">
              Campo obligatorio. Longitud fija 5
            </div>
          </div>
        </div>
      </div>
      <!-- tercera fila -->
      <div style="clear:both">
        <div class="col-lg-3">
          <!-- solo un codigo -->
          <div *ngIf="!mostrarSelectLocal" class="form-group">
            <label class="label label-primary" for="localidad">Localidad:</label>
            <input class="form-control" name="localidad" type="text" #localidad [(ngModel)]="socio.localidad" disabled>
          </div>
          <!-- select de localidad -->
          <div *ngIf="mostrarSelectLocal" class="form-group">
            <label class="label label-primary" for="localidad">Localidad:</label>
            <select class="form-control" name="selectLocal" (change)="cambiaLocalidad($event)" [disabled]="!bloqueo">
            <option *ngFor="let localidad of arrayLocalidades" value="{{localidad.poblacion}}">{{localidad.poblacion}}</option>
          </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label class="label label-primary" for="provincia">Provincia:</label>
            <input class="form-control" name="provincia" type="text" #provincia [(ngModel)]="socio.provincia" disabled>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <label class="label label-primary" for="fAlta">Alta:</label>
            <owl-date-time #fAlta [(ngModel)]="socio.fAlta" name="fAlta" [autoClose]="true" [type]="'calendar'" [dateFormat]="'YYYY-MM-DD'" [locale]="es" [placeHolder]="'yyyy-mm-dd'" [inputId]="'fAlta'" [disabled]="!bloqueo"></owl-date-time>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="form-group">
            <label class="label label-primary" for="noActivo">No Activo:</label>
            <input [checked]="socio.noActivo" [(ngModel)]="socio.noActivo" name="noActivo" #noActivo class="form-check-input" type="checkbox" [disabled]="!bloqueo">
          </div>
        </div>
        <div class="col-lg-2">
          <div *ngIf="socio.noActivo" class="form-group">
            <label class="label label-primary" for="fBaja">Baja:</label>
            <owl-date-time #fBaja name="fBaja" [(ngModel)]="socio.fBaja" [autoClose]="true" [type]="'calendar'" [dateFormat]="'YYYY-MM-DD'" [locale]="es" [placeHolder]="'yyyy-mm-dd'" [inputId]="'fBaja'" [disabled]="!bloqueo"></owl-date-time>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="form-group" [class.has-primary]="!propiedad.touched" [class.has-success]="propiedad.valid && propiedad.touched" [class.has-error]="propiedad.invalid && (propiedad.dirty || propiedad.touched)">
            <label class="label label-primary" for="propiedad">Propiedad:</label>
            <input class="form-control" name="propiedad" type="text" #propiedad="ngModel" [(ngModel)]="socio.propiedad" pattern="([\d]{1,3}([\.]?[\d]{1,2})?){1}" required [disabled]="!bloqueo">
            <div *ngIf="propiedad.invalid && (propiedad.dirty || propiedad.touched)" class="control-label has-error">
              Campo obligatorio.
            </div>
          </div>
        </div>
      </div>
      <!-- Observaciones -->
      <div style="clear:both">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="label label-primary" for="observaciones">Observaciones:</label>
            <textarea class="form-control" name="observaciones" id="" cols="30" rows="5" #observaciones [(ngModel)]="socio.observaciones" [disabled]="!bloqueo"></textarea>
          </div>
        </div>
      </div>
      <!-- Teléfonos, parcelas y demás -->
      <div style="clear:both">
        <div class="col-lg-4">
          <div *ngIf="tipo != 'nuevo'" class="form-group">
            <label class="label label-primary">Teléfonos:</label>
            <table class="table table-striped table-bordered">
              <tr>
                <th>Número</th>
                <th>En uso</th>
                <th *ngIf="bloqueo">
                  <button class="btn btn-success btn-xs" type="button" name="button" (click)="setTelefono()"><span class="glyphicon glyphicon-plus">Nuevo</span></button>
                </th>
              </tr>
              <tr *ngFor="let telefono of socio.telefonos">
                <td>{{telefono.telefono}}</td>
                <td><input type="checkbox" [checked]="telefono.activo" class="form-check-input" name=""></td>
                <td *ngIf="bloqueo">
                  <button class="btn btn-danger btn-xs" *ngIf="bloqueo" type="button" name="button" (click)="deleteTelefono($event)" value="{{telefono.id}}"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="label label-primary">Teléfonos:</label>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="label label-primary">Teléfonos:</label>
          </div>
        </div>
      </div>
      <!-- Botón de actualizar -->
      <div style="clear:both">
        <div class="col-lg-4">
          <div class="form-group">
            <button type="button" name="editar" class="btn btn-warning btn-block" (click)="setDisabled()">Editar</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div *ngIf="this.tipo == 'editar'" class="form-group">
            <input class="btn btn-success btn-block" type="submit" name="enviar" value="Enviar" (click)="updateSocio()" [disabled]="!formSocioEdit.form.valid">
          </div>
          <div *ngIf="this.tipo == 'nuevo'" class="form-group">
            <input class="btn btn-success btn-block" type="submit" name="enviar" value="Añadir" (click)="addSocio()" [disabled]="!formSocioEdit.form.valid">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <button type="button" name="editar" class="btn btn-primary btn-block" [routerLink]="['/socios']">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
