<div class="container-fluid">
  <div class="page-header">
    <h1>{{titulo}} {{usuario.name}}</h1>
  </div>
  <p>Pulsando en los botones inferiores puedes descargar las plantillas para los ficheros de sms o devoluciones.</p>
  <p>Procure que el carácter de separación de columnas sea tabulador.</p>
  <div class="col-sm-3">
    <button class="btn btn-info btn-md btn-block " type="button" name="sms" (click)="exportaCsv(1)">Plantilla SMS</button>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-info btn-md btn-block" type="button" name="devoluciones" (click)="exportaCsv(2)">Plantilla Devoluciones</button>
  </div>
</div>
