<div class="container">
  <div class="col-lg-4 col-lg-offset-2">
    <h3>REGISTRO</h3>
    <div id="error" class="alert alert-danger" role="alert">{{error.message}}</div>
    <div id="exito" class="alert alert-success" role="alert">{{exito}}</div>
    <form #formRegister="ngForm" (ngSubmit)="onSubmit()">
      <div class="col-sm-12">
        <div class="form-group" [class.has-primary]="!name.touched" [class.has-success]="name.valid && name.touched" [class.has-error]="name.invalid && (name.dirty || name.touched)">
          <label class="label label-primary" for="nombre">Nombre:</label>
          <input #name="ngModel" [(ngModel)]="user.name" class="form-control" type="text" name="nombre" placeholder="Nombre" pattern="[\w\s]{3,}" required>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="control-label has-error">
            Dato obligatorio. Longitud minima 3
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group" [class.has-primary]="!apellidos.touched" [class.has-success]="apellidos.valid && apellidos.touched" [class.has-error]="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
          <label class="label label-primary" for="apellidos">Apellidos:</label>
          <input #apellidos="ngModel" [(ngModel)]="user.surname"  class="form-control" type="text" name="apellidos" placeholder="Apellidos" pattern="[\w\s]{5,}" required>
          <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="control-label has-error">
            Dato obligatorio. Longitud minima 5
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group" [class.has-primary]="!email.touched" [class.has-success]="email.valid && email.touched" [class.has-error]="email.invalid && (email.dirty || email.touched)">
          <label class="label label-primary" for="correo">Correo Electrónico:</label>
          <input #email="ngModel" [(ngModel)]="user.email" class="form-control" type="text" name="correo" placeholder="Correo Electrónico" pattern="[\w\.]{3,}[@][\w]{3,}[\.][a-zA-Z]{2,3}" required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="control-label has-error">
            Dato obligatorio. Longitud minima 5
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group" [class.has-primary]="!username.touched" [class.has-success]="username.valid && username.touched" [class.has-error]="username.invalid && (username.dirty || username.touched)">
          <label class="label label-primary" for="username">Usuario:</label>
          <input #username="ngModel" [(ngModel)]="user.username" class="form-control" type="username" name="username" placeholder="Usuario" pattern="([\w\.]{3,}[@]?[\w]{1,}[\.]?[\w]{2,3})" required>
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="control-label has-error">
            Dato obligatorio. Longitud minima 5
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group" [class.has-primary]="!password.touched" [class.has-success]="password.valid && password.touched" [class.has-error]="password.invalid && (password.dirty || password.touched)">
          <label class="label label-primary" for="password">Contraseña:</label>
          <input #password="ngModel" [(ngModel)]="user.password" class="form-control" type="password" name="password" placeholder="Contraseña" pattern="[\w\W]{5,}" required>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="control-label has-error">
            Dato obligatorio. Longitud minima 5
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <input class="btn btn-success btn-block" type="submit" name="entrar" value="Registrarse" [disabled]="!formRegister.form.valid">
      </div>
    </form>
  </div>
</div>
