<div class="container">
  <div class="col-lg-4 col-lg-offset-2">
    <h3>REGISTRO</h3>
    <p>
      <label class="label label-primary" for="nombre">Nombre:</label>
      <input class="form-control" type="text" name="nombre" placeholder="Nombre" required>
    </p>
    <p>
      <label class="label label-primary" for="apellidos">Apellidos:</label>
      <input class="form-control" type="text" name="apellidos" placeholder="Apellidos" required>
    </p>
    <p>
      <label class="label label-primary" for="correo">Correo Electrónico:</label>
      <input class="form-control" type="text" name="correo" placeholder="Correo Electrónico" required>
    </p>
    <p>
      <label class="label label-primary" for="usuario">Usuario:</label>
      <input class="form-control" type="text" name="usuario" placeholder="Usuario" required>
    </p>
    <p>
      <label class="label label-primary" for="password">Contraseña:</label>
      <input class="form-control" type="password" name="password" placeholder="Contraseña" required>
    </p>
    <input class="btn btn-success btn-block" type="submit" name="registrarse" value="Registrarse">
  </div>
</div>
